@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To Create and Edit a Customer, proceed to <a href="/List">List</a> Page.</p>
</div>
